%nav.navbar.navbar-light.bg-light.navbar-expand-lg
  .container
    %a.navbar-brand{:href => "#"} Navbar
    %button.navbar-toggler{"aria-controls" => "navbarAdvanced", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarAdvanced", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarAdvanced.collapse.navbar-collapse
      %ul.navbar-nav.mb-2.mb-lg-0.me-auto
        %li.nav-item
          %a.nav-link.active{"aria-current" => "page", :href => "#"} Active
        %li.nav-item.dropdown
          %a#navbarAdvancedDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"} Dropdown
          %ul.dropdown-menu{"aria-labelledby" => "navbarAdvancedDropdown"}
            %li
              %a.dropdown-item{:href => "#"} First item
            %li
              %a.dropdown-item{:href => "#"} Second item
            %li
              %a.dropdown-item{:href => "#"} 
              = link_to root_path, class: 'dropdown-item' do
                .fa.fa-flag
                Homepage
        %li.nav-item
          %a.nav-link{:href => "#"} Link
        %li.nav-item
          %a.nav-link.disabled{"aria-disabled" => "true", :href => "#", :tabindex => "-1"} Disabled
      %form
        .input-group
          %input.form-control{"aria-label" => "Search input", :placeholder => "Search text here", :type => "search"}/
          %button.btn.btn-secondary{:type => "submit"} Search
